
@{
    ViewData["Title"] = "EmployeeView";
}

<h1>EmployeeView</h1>

<table class="table table-bordered table-hover"  >
    <tr class="table-primary">
        <th> Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>DateTime</th>
        <th>MartialStatus</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>
           
            @foreach (var item in @ViewBag.employee)
            {
                 <tr>
                    <td>@item.Id</td>

                    <td>@item.name</td>
                    <td>@item.address</td>
                    <td>@item.datetime</td>
                    <td>@item.maritialStatus</td>
                    <td>@item.salary</td>
                     <td>
                         <button type="button"class="btn btn-primary">Edit</button>
                         <button type="button" class="btn btn-danger">Delete</button>
                     </td>
                  </tr>
        }
            
        
</table>